<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [2]:
# Read CSV
wine_csv = '/Users/ayano/Desktop/Data Science & AI/csv/winequality_merged.csv'
wine = pd.read_csv(wine_csv)

#### 1.2 Explore Data (Exploratory Data Analysis)

In [3]:
# ANSWER

#最初の5行を表示する
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [4]:
#最後の5行を表示する
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [5]:
#基本統計量を表示する
wine.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,6497.0,7.215307,1.296434,3.80000,6.40000,7.00000,7.70000,15.90000
volatile acidity,6497.0,0.339666,0.164636,0.08000,0.23000,0.29000,0.40000,1.58000
citric acid,6497.0,0.318633,0.145318,0.00000,0.25000,0.31000,0.39000,1.66000
residual sugar,6497.0,5.443235,4.757804,0.60000,1.80000,3.00000,8.10000,65.80000
chlorides,6497.0,0.056034,0.035034,0.00900,0.03800,0.04700,0.06500,0.61100
free sulfur dioxide,6497.0,30.525319,17.749400,1.00000,17.00000,29.00000,41.00000,289.00000
total sulfur dioxide,6497.0,115.744574,56.521855,6.00000,77.00000,118.00000,156.00000,440.00000
density,6497.0,0.994697,0.002999,0.98711,0.99234,0.99489,0.99699,1.03898
pH,6497.0,3.218501,0.160787,2.72000,3.11000,3.21000,3.32000,4.01000
sulphates,6497.0,0.531268,0.148806,0.22000,0.43000,0.51000,0.60000,2.00000
alcohol,6497.0,10.491801,1.192712,8.00000,9.50000,10.30000,11.30000,14.90000
quality,6497.0,5.818378,0.873255,3.00000,5.00000,6.00000,6.00000,9.00000
red_wine,6497.0,0.246114,0.430779,0.00000,0.00000,0.00000,0.00000,1.00000

In [6]:
#
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [7]:
#行と列の数の確認
wine.shape

(6497, 13)

In [8]:
#コラムの中身確認
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'red_wine'],
      dtype='object')

In [9]:
#欠損値の確認
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
red_wine                0
dtype: int64

In [10]:
wine.value_counts()

fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  density  pH    sulphates  alcohol  quality  red_wine
7.0            0.150             0.28         14.7            0.051      29.0                 149.0                 0.99792  2.96  0.39       9.0      7        0           8
7.3            0.190             0.27         13.9            0.057      45.0                 155.0                 0.99807  2.94  0.41       8.8      8        0           8
6.8            0.180             0.30         12.8            0.062      19.0                 171.0                 0.99808  3.00  0.52       9.0      7        0           7
7.4            0.160             0.30         13.7            0.056      33.0                 168.0                 0.99825  2.90  0.44       8.7      7        0           7
7.6            0.200             0.30         14.2            0.056      53.0                 212.5                 0.99900  3.14  0.46       8.9      8        0           6
                                                                                                                                                                           ..
6.6            0.560             0.14         2.4             0.064      13.0                 29.0                  0.99397  3.42  0.62       11.7     7        1           1
               0.550             0.01         2.7             0.034      56.0                 122.0                 0.99060  3.15  0.30       11.9     5        0           1
               0.545             0.04         2.5             0.031      48.0                 111.0                 0.99060  3.14  0.32       11.9     5        0           1
               0.540             0.21         16.3            0.055      41.0                 182.0                 0.99860  3.35  0.54       10.4     6        0           1
15.9           0.360             0.65         7.5             0.096      22.0                 71.0                  0.99760  2.98  0.84       14.9     5        1           1
Length: 5320, dtype: int64

### 2. Set Target Variable

Create a target variable for wine quality.

In [11]:
# Target Variable

y = wine['quality']

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reasoning for the choices you make.

In [12]:
# ANSWER

X = wine[['fixed acidity', 'alcohol', 'pH', 'sulphates']]

### 4. Using Linear Regression Create a Model and Test Score

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [14]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [15]:
# Create a model for Linear Regression
model = LinearRegression()

# Fit the model with the Training data
model.fit(X_train, y_train)

# Calculate the score (R^2 for Regression) for Training Data
train_r2 = model.score(X_train, y_train)

# Calculate the score (R^2 for Regression) for Testing Data
test_r2 = model.score(X_test, y_test)

## Cross validation

In [19]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [22]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    
    # Get training and test sets for X and y
    X_train, X_test, y_train, y_test = X.iloc[train], X.iloc[test], y.iloc[train], y.iloc[test]
    
    
    # Fit model with training set
    model = LinearRegression()  # ここに適切なモデルを指定
    model.fit(X_train, y_train)
    
    # Make predictions with training and test set
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Score R2 and RMSE on training and test sets and store in list
    #R2
    train_r2 = r2_score(y_train, y_train_pred)
    test_r2 = r2_score(y_test, y_test_pred)
    train_scores.append(train_r2)
    test_scores.append(test_r2)
    
    #RMSE
    train_rmse_value = np.sqrt(mean_squared_error(y_train, y_train_pred))
    test_rmse_value = np.sqrt(mean_squared_error(y_test, y_test_pred))
    train_rmse.append(train_rmse_value)
    test_rmse.append(test_rmse_value)
    
# Create a metrics_df dataframe to display r2 and rmse scores
# スコアをDataFrameに格納
import pandas as pd

metrics_df = pd.DataFrame({
    "Train R2": train_scores,
    "Test R2": test_scores,
    "Train RMSE": train_rmse,
    "Test RMSE": test_rmse
})

# メトリクスの表示
metrics_df

   Train R2   Test R2  Train RMSE  Test RMSE
0  0.210923  0.180593    0.779765   0.773437
1  0.201593  0.219591    0.783034   0.760012
2  0.210233  0.185183    0.774035   0.796106
3  0.195241  0.240897    0.776096   0.788233
4  0.208675  0.190410    0.778896   0.776752

In [21]:
# Describe the metrics

metrics_df.describe()

       Train R2   Test R2  Train RMSE  Test RMSE
count  5.000000  5.000000    5.000000   5.000000
mean   0.205450  0.202598    0.778291   0.778970
std    0.002637  0.009192    0.007753   0.030598
min    0.201789  0.191470    0.766160   0.748215
25%    0.204101  0.198944    0.776420   0.757013
50%    0.206097  0.198987    0.779119   0.776061
75%    0.206478  0.208746    0.783801   0.787267
max    0.208786  0.214842    0.785954   0.826296

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2023 Institute of Data


---



---